#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.animBG {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
  width: 500px;
  height: 300px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  align-content: center;
  border: 4px solid black;
  border-radius: 1rem;
  background-color: lightcoral;
  box-shadow: 0 0 1rem #000000aa;
}
/*backgroundColor: 'lightgray', color: 'white', padding: '1rem', border: '3px solid white', borderRadius: '5px', cursor: 'pointer' */
.button {
  background-color: lightsalmon;
  color: white;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer; 
  box-shadow: 0 0 1rem #ffffffff;
}

.button2 {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #919191aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
